* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0 auto;
  padding: 40px 5% 140px;
  width: 100%;
  background-image: url("../images/nnnoise.svg");
  background-color: #333;
  text-align: center;
  position: relative;
  overflow-x: hidden;
}
/* body:after {
  content: " ";
  width: 100%;
  position: fixed;
  height: 70px;
  left: 0;
  bottom: 0;
  background-image: url("../images/footer.png");
  image-rendering: pixelated;
  background-repeat: repeat-x;
  background-position: left 100%;
  background-size: 100px 70px;
  z-index: 99;
} */

@media screen and (min-width: 480px) {
  body {
    padding: 40px 15% 0;
  }
}
h1,
h2,
h3 {
  font-size: 16px;
  margin: 0;
  font-weight: normal;
}
h1 {
  font-weight: 500;
}
p {
  max-width: 70ch;
  margin: 0;
}

a {
  color: #428bca;
  transition: color 900ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  text-decoration: none;
  cursor: pointer;
}
a:hover,
a:focus {
  color: #e50a5b;
  transition: color 100ms ease;
}
p a {
  display: block;
}

img {
  width: 100%;
  height: auto;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
li span {
  width: 150px;
  display: inline-block;
}

section {
  width: 100%;
  max-width: 800px;
  background-color: white;
  margin: 0 auto;
  margin-top: 40px;
  text-align: left;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 50px 100px -20px rgb(50 50 93 / 25%),
    0 30px 60px -30px rgb(0 0 0 / 30%);
}

section header {
  background-color: #ffdc48;
  height: 128px;
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 2px 2px 0 0;
  position: relative;
}

img {
  max-width: 80px;
  border-radius: 100%;
  display: block;
  margin-right: 20px;
}

.content a {
  display: block;
}

.content ul {
  display: grid;
  gap: 10px 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
}
.content li {
  margin-bottom: 30px;
}

.artboard {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  overflow: hidden;
}
.artboard > div {
  position: absolute;
  z-index: -1;
}
.cloud {
  image-rendering: pixelated;
  background-repeat: no-repeat;
  transform: scale(3);
}

.cloud.large {
  background-image: url("../images/large-cloud.png");
  width: 66px;
  height: 36px;
  top: 260px;
  left: 10%;
}
.cloud.small {
  background-image: url("../images/small-cloud.png");
  width: 38px;
  height: 18px;
  top: 50px;
  left: 15%;
}
.cloud.large.right {
  top: 80px;
  left: unset;
  right: 15%;
  z-index: 2;
}

.cloud.right {
  display: none;
}

@media screen and (min-width: 500px) {
  .cloud.right {
    display: block;
  }
}
.cloud.small.right {
  top: 160px;
  left: unset;
  right: 10%;
  z-index: 2;
}

.pattern-container {
  background-color: #dbb5dc;
  background-image: url("../images/memphis-pattern.svg");
  background-size: contain;
  width: 25%;
  height: 100vh;
  top: 248px;
}
div.pattern-container-sibling {
  background-color: #a88ad2;
  position: absolute;
  width: 25%;
  height: 50vh;
  top: 0;
  z-index: -2;
}

.squiggle {
  position: absolute;
  content: " ";
  background-image: url("../images/squiggle.svg");
  background-repeat: no-repeat;
  width: 600px;
  height: 20px;
  bottom: 20px;
  transform: scale(1.5);
  right: -200px;
  z-index: 2;
}

header:after {
  content: " ";
  position: absolute;
  background-image: url("../images/header-overlay.svg");
  background-size: contain;
  background-repeat: no-repeat;

  width: 280px;
  height: 500px;
  top: -146px;
  right: -94px;
}

header a {
  display: inline-block;
  font-size: 12px;
  margin-right: 5px;
}

.content {
  position: relative;
  padding: 60px 20px 20px;
}
.content:before {
  content: " ";
  width: 100%;
  position: absolute;
  height: 4px;
  left: 0;
  top: 0;
  background-image: url("../images/horizontal.svg");
  image-rendering: pixelated;
  background-repeat: repeat-x;
  border-bottom: 36px solid #4948ee;
}

.purple-block {
  position: absolute;
  background-color: #a88ad2;
  width: 280px;
  right: -94px;
  height: 100vh;
  top: 100%;
  z-index: -1;
}
.right-lines-thick {
  background-image: url(../images/right-lines-thick.svg);
  background-repeat: repeat-y;
  width: 8%;
  height: 100%;
  top: 0;
  right: 0;
  background-size: auto 40px;
}
